@model IEnumerable<IQTech.Models.Fact>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 80px">IQTech Posts</h1>

<p>
    <button style="padding: 15px 32px; cursor: pointer; background-color: #ffffff; border-radius: 12px;"><a style="color: darkblue;" asp-action="Create">Create New IQTech Post</a></button>
</p>
<table style="color: white;" class="table">
    <thead>
        <tr>
            <th>
                IQ Question
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IqQuestion)
            </td>
            
            <td>
                <a style="color: #1cfc03;" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a style="color: #00fffb;" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a style="color: red;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
