<h4 style="font-size: 80px">Search for an IQTech Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            
            
            <div class="form-group">
                <label for="SearchTopic" class="control-label"></label>
                <input name="SearchTopic" class="form-control" />

            </div>
            </br></br>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</br></br>
<div>
    <button style="padding: 15px 32px; cursor: pointer; background-color: #ffffff; border-radius: 12px;"><a style="color: darkblue;" asp-action="Index">Back to List</a></button>
    
</div>

