@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>About</h1>
</br></br>
<p>Hi! I'm Kannika Kabilar, a software engineer. I designed this web application to provide a medium where general knowledge on software and technology can be shared and learned among computer scientists. Sometimes we don't know what we don't know. The IQTech web application allows users to share tips and tricks that would help developers with their daily live when working with computers. This application is built using ASP.NET Core in C# implementing the Model-View-Controller design pattern. SQL server is used as database to store the site's data.</p>
</br></br></br>
<h1>@ViewData["Title"]</h1>

<p>This website is running on your local server. Security should not be much of an issue.</p>

